* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(./assets/network-background.jpg);
}
body {
  font-size: 16px;
  align-items: center;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.5;
  margin-bottom: 5px;
  margin-left: 30px;
  letter-spacing: -0.05em;
  font-weight: 600;
}
.container{
  min-width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}